extends layout

block content
  h1= title
  p Welcome to shiva prasad adumala  
  button(type="button", class="btn btn-secondary", onclick="update()") press me 
  div(id="target") Display
  a(href = '/Lion') Lion Page link
  |
  script. 
    let client_count = 0;
    function update() {
      client_count = client_count + 1;
      document.getElementById("target").innerHTML = `Value now ${client_count}`  ;
      }
    
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/Lion") Take me to costumes
    br
    a(href="/logout") Logout