extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to update 
  else 
    - let Lionid = toShow._id 
    - let name = toShow.name 
    - let age = toShow.age 
    - let weight = toShow.weight 
    
    div.row(class='mb-2') 
      div.mr-1 ID is 
      div #{Lionid} 
    - let actionid = "/resource/Lion/" + Lionid 
    form(id='LionForm', action= actionid, method="PUT") 
      div.form-group 
          label.LionAttr(for='name') Lion name <br>
          input#name(type='text', class="form-control col-xs-2", name='name', value= name ) 
          <br>
      div.form-group 
          label.LionAttr(for='age') Lion age 
          input#age(type='number', class="form-control col-xs-2", name='age', value= age ) 
          <br>
      div.form-group 
          label.LionAttr(for='weight') Lion weight 
          input#weight(type='number',class="form-control col-xs-2", name='weight', value= weight ) 
          <br>
      input(class="btn btn-success" type="submit") 
  
    script. 
      document.forms['LionForm'].addEventListener('submit', (event) => { 
        event.preventDefault(); 
        // TODO do something here to show user that form is being submitted 
        fetch(event.target.action, { 
          method: 'PUT', 
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
        }).then((resp) => { 
          return resp.json(); // or resp.text() or whatever the server sends 
        }).then((body) => { 
          alert("Update succeded") 
          // TODO handle body 
        }).catch((error) => { 
          // TODO handle error 
          alert("Update failed " + error ) 
        }); 
      });